.Jumbotron {
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-wrap: wrap;
    z-index: 1;
}

.Jumbotron > * {
  width: 100%
}

.Jumbotron > hr {
  width: 50%;
  margin-right: 50%;
  color: white;
  height: 0.5rem;
  border-radius: 2rem;
}

.Jumbotron > p {
  margin: 3rem;
}

@media (max-width: 600px) {
  .Jumbotron {
    background-color: white !important;
    color: #3b322c !important;
  }

  .Jumbotron >hr {
    background-color: #3b322c !important;
  }
}