.Footer {
  height: 7rem;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
}

.Footer > * {
  width: fit-content;
}

.credit-wrapper {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}

.credit:hover, .credit:focus {
  color: #80deea;
  transition: color 0.2s ease;
}